
@import url('https://fonts.googleapis.com/css2?family=Baskervville+SC&family=Festive&display=swap');


.container-fluid{
     display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    background-color: white; 
    
}
.carousel-inner,.carousel-item {
    height: 100vh; 
       
}

.slideh1{
   display: flex;
   flex-wrap: wrap;
    flex-direction: column;
    position:relative;
    text-align: center;
    bottom: 40vh;
    font-weight: 1000;
    font-size: 10vh;
    font-family: 'Font Name',Baskervville;
}
.slideh2{
    position: relative; 
    bottom: 39vh;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 5vh;
    font-family: 'Font Name',baskervville;
}
.logo1{
    float: left;
    width: 20vw;
    /* margin-top: -20vh; */
    z-index: 2;
    position: fixed;

}
.arrow{
    position: absolute;
    cursor: pointer;
    font-size: 4vw;
    font-weight: 500;
    z-index: 2;
    color: white;
    margin-left: 45vw;
    margin-top: -15vh;
    
}
.arrow:hover{
    transform: translateY(7px);

}

