
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');


.maincourseh1{
    text-align: center;
    font-family: "Playfair Display", serif;
    margin-top: 50px;
    margin-bottom: -50px;
}
.desserth1{
    text-align: center;
    font-family: "Playfair Display", serif;
    margin-top: 50px;
    margin-bottom: -50px;
}

.btn{
    color: #ffffff;
    background-color: #24262b;
}
.btn:hover{
    background-color: #24262b;
}

/* .material-symbols-outlined {
  margin-left: 100px;
  font-variation-settings:
  'FILL' 100,
  'wght' 900,
  'GRAD' 0,
  'opsz' 24
} */

.cartbtn {
  margin-top: 10px;
  font-variation-settings:
  'FILL' 0,
  'wght' 500,
  'GRAD' 0,
  'opsz' 24
}
#offcanvasbtn{
  height: 50px;
  width: 100px;
  border-radius: 15px;
 margin-left: 1150px;
  position: absolute;
  margin-top: 5px;
  z-index: 1;
}
.col{
    margin-top: 100px;
    margin-left: 30px;
    width: 300px;
}
.navbar-nav{
    margin-right: 300px;
 
   
}
.nav-item{
   text-align: center;
    margin-right: 50px;
    font-weight: 500;
}
.nav-item:hover{
  font-weight: 700;
    border-radius: 20px;
}
.starterh1{
    text-align: center;
    font-family: "Playfair Display", serif;
    margin-top: 100px;
    margin-bottom: -90px;
}
.addbtn {
  margin-top: 10px;
  margin-left: 50px;
  font-variation-settings:
  'FILL' 400,
  'wght' 00,
  'GRAD' 0,
  'opsz' 24,
}

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
body{
  line-height: 1.5;
  font-family: 'Poppins', sans-serif;
}
.footer{
    margin-top: 100px;
    height: 300px;
}
*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}
.container{
  max-width: 1170px;
  margin:auto;
}
.row{
  display: flex;
  flex-wrap: wrap;
}
ul{
  list-style: none;
}
.footer{
  background-color: #24262b;
    padding: 70px 0;
}
.footer-col{
   width: 25%;
   padding: 0 15px;

}
.footer-col h4{
  font-size: 18px;
  color: #ffffff;
  text-transform: capitalize;
  margin-bottom: 35px;
  font-weight: 500;
  position: relative;
}
.footer-col h4::before{
  content: '';
  position: absolute;
  left:0;
  bottom: -10px;
  background-color: #e91e63;
  height: 2px;
  box-sizing: border-box;
  width: 50px;
}
.footer-col ul li:not(:last-child){
  margin-bottom: 10px;
}
.footer-col ul li a{
  font-size: 16px;
  text-transform:capitalize;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  color: #bbbbbb;
  display: block;
  transition: all 0.3s ease;
}
.footer-col ul li a:hover{
  color: #ffffff;
  padding-left: 8px;
}
.footer-col .social-links a{
  display: inline-block;
  height: 40px;
  width: 40px;
  background-color: rgba(255,255,255,0.2);
  margin:0 10px 10px 0;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  color: #ffffff;
  transition: all 0.5s ease;
}
.footer-col .social-links a:hover{
  color: #24262b;
  background-color: #ffffff;
}

/*responsive*/
@media(max-width: 767px){
  .footer-col{
    width: 50%;
    margin-bottom: 30px;
}
}
@media(max-width: 574px){
  .footer-col{
    width: 100%;
}
}